@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-zinc-100 dark:bg-zinc-800
  text-zinc-700 dark:text-zinc-200 duration-500
}

@layer base{
  .layoutCenter{
    @apply max-w-screen-2xl mx-auto mt-20 sm:mt-44 px-3 xs:px-8 sm:px-20 text-center text-sm sm:text-base
  }
  @layer base{
    .fontSection{
      @apply mb-12 text-2xl xs:text-3xl sm:text-4xl font-semibold
    }
  }
  @layer base{
    .imgTecs{
      @apply border-zinc-600 hover:bg-zinc-100 hover:dark:bg-zinc-800 rounded-sm shadow-tecs dark:shadow-md scale-75 xs:scale-100 sm:saturate-0 hover:saturate-100 hover:xs:scale-105 transition-all p-4 md:p-3.5 duration-300
    }
  }
}

@layer components {
  .a{
    padding: 12px 2px;
    margin: 0 .5rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
  }
  .a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #ed3654;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: 0.2s ease-in-out;
  }
  .a:hover{ color: #ed3654; }
  
  .a:hover::after{ width: 95%; }

  .sun{ margin-right: 6px; }

  @keyframes translate-y {
    0% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(100%);
    }
  }
  .translate-y {
    animation-name: translate-y;
    animation-duration: 1.85s;
    animation-iteration-count: infinite;
  }
}